body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 254, 254);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.kiev {
    text-align: right;
}
.skidka {
    z-index: 50;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    position: absolute;
    text-align: center;
    padding: 10px;
    transition: 0.5s;
    box-shadow: 0px 0px 4px rgb(110, 14, 14);
}
.logo_tel {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;
}
.logo {
    margin: auto;
    width: 50vw;
    height: 10vw;
    margin-top: 5px;
    background-image: url('../img/pizza_logo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tel2 {
    text-align: center;
    margin-top: 15px;
    
    color: white;
}
.tel2:hover {
    color: grey;
}
@media screen and (min-width: 500px) {
    .logo {
        margin-left: 10px;
        width: 250px;
        height: 45px;
    }
    
}
@media screen and (max-width: 250px) {
    .tel {
        align-self: center;
    }
}
@media screen and (max-width: 400px) {
    .tel::before {
        opacity: 0;
    }
    .skidka {
        display: none;
    }
}
.tel {
    position: relative;
    margin-right: 10px;
    font-size: 1.2rem;
    color: tomato;
    text-shadow: 0px 1px 1px rgb(31, 27, 27);
    text-align: center;
}
.tel::before {
    margin-left: -27px;
    margin-top: 2px;
    content: "";
    width: 25px;
    height: 19px;
    position: absolute;
    background-image: url('../img/tel_icon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.main_menu {
    width: 100%;
    height: auto;
    margin-top: 5px;
    
}
.main_menu li> .active {
    color: rgb(97, 253, 25);
}
.main_menu ul {
    padding-left: 0;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(2, 2, 2);
    list-style-type: none;
    color: white;
    font-size: 1.1rem;
    justify-content:space-around;
    align-items: center; 
}
.main_menu li>a {
    color: white;
    font-size: 1.1rem;
}
.main_menu li>a:hover {
    cursor: pointer;
    color: tomato;
}
.pizza_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pizza_photo {
    width: 400px;
    height: 400px;
    background-image: url(../img/pizza1.jpg);
    background-repeat: no-repeat;
    margin: 10px;
    box-shadow: 0px 2px 3px black;
    text-align: center;  
}
.pizza_photo2 {
    width: 400px;
    height: 400px;
    background-image: url(../img/pizza2.jpg);
    background-repeat: no-repeat;
    margin: 10px;
    box-shadow: 0px 2px 3px black;
}
.pizza_photo3 {
    width: 400px;
    height: 400px;
    background-image: url(../img/pizza3.jpg);
    background-repeat: no-repeat;
    margin: 10px;
    box-shadow: 0px 2px 3px black;
}
@media screen and (max-width: 500px) {
    .pizza_photo, .pizza_photo2 {
        width: 80vw;
        height: 80vw;
        background-size: 100% 100%;
    }
    .pizza_photo3 {
        width: 80vw;
        height: 80vw;
        background-position: center;
        
    }

}

.pizza_photo:hover, .pizza_photo2:hover,
.pizza_photo3:hover, .nazv:hover, .price:hover {
    cursor: pointer;
    opacity: 0.8;
}

main {
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
h1 {
    margin-bottom: 45px;
    font-size: 1rem;
    color: tomato;
}
.block_text {
    border: 1px solid rgb(197, 193, 193);
    padding: 40px;
    background-color: rgb(248, 245, 241);
    box-shadow: 0px 1px 3px black;
}
p {
    margin: auto;
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: rgb(80, 78, 80);
    text-align: center;
}
.btn {
    margin-bottom: 20px;
}
.btn:hover {
    cursor: pointer;
}
.sbros_enter {
    display: flex;
    justify-content: space-between;

}
.korj {
    z-index: 1;
    width: 400px;
    height: 400px;
    background-image: url('../img/pizza_korj.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.name {
    font-size: 0.6rem;
    color: rgb(134, 123, 123);
    font-weight: normal;
    text-align: center;
}
@media screen and (max-width: 550px) {
    div[class$=korj]{
        width: 70vw;
        height: 70vw;
    }
    .kiev {
        opacity: 0;
    }
}
@media screen and (max-width: 468px) {
    .cena {
        margin: auto;
    }
}
@media screen and (max-width: 301px) {
    .razmer {
        margin: auto;
    }
}
@media screen and (max-width: 220px) {
    .korj {
        margin: auto;
    }
}
.block_nachinki {
    width: 60%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.block_souses {
    margin: auto;
    margin-top: 3px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nachinka {
    color: rgb(194, 147, 47);
    font-size: 0.9rem;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: bolder;
}
.cheese_photo {
    width: 70px;
    height: 70px;
    background-image: url('../img/cheese.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.kol {
    width: 50px;
    display: flex;
    justify-content: space-around;
    color: black;
    cursor: pointer;
}
.salami_photo {
    width: 70px;
    height: 70px;
    background-image: url('../img/salami.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.perec_photo {
    width: 70px;
    height: 70px;
    background-image: url('../img/perec_bolg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.chili_photo {
    width: 70px;
    height: 70px;
    background-image: url('../img/chili.png');
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}
.kukuruza_photo {
    width: 70px;
    height: 70px;
    background-image: url('../img/kukuruza.png');
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}
.ananas_photo {
    width: 70px;
    height: 70px;
    background-image: url('../img/ananas.png');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
}
.chicken_photo {
    width: 70px;
    height: 70px;
    background-image: url('../img/chicken.png');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
}
.tomato_photo {
    width: 50px;
    height: 50px;
    background-image: url('../img/sous_tomat.png');
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}
.chesnoch_photo {
    width: 50px;
    height: 50px;
    background-image: url('../img/sous_ches.png');
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}
.barbeku_photo {
    width: 50px;
    height: 50px;
    background-image: url('../img/sous_barb.png');
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}
.razm_pizz_cena {
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
}
.razmer {

    color:chocolate;
}
.cena { 
    width: 50px;
    text-align: center;
    color: rgb(231, 61, 18);
    font-size: 1.1rem;
    text-shadow: 0px 1px 1px rgb(219, 114, 15);
}
.itogo {
    color:tomato;
}
footer {
    margin-top: 70px;
    width: 100%;
    height: 70px;
    background-color: black;
}
.custom_radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
}
.tomat_korj {
    z-index: 2;
    width: 400px;
    height: 400px;
    background-image: url('../img/sous_tomato.png');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.chesnoch_korj {
    z-index: 2;
    width: 400px;
    height: 400px;
    background-image: url('../img/sous_chesnochniy.png');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.barbeku_korj {
    z-index: 2;
    width: 400px;
    height: 400px;
    background-image: url('../img/sous_barbeku.png');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.cheese_korj {
    z-index: 3;
    width: 400px;
    height: 400px;
    background-image: url('../img/cheese_group.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.salami_korj {
    z-index: 4;
    width: 400px;
    height: 400px;
    background-image: url('../img/salami_group.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.perec_korj {
    z-index: 5;
    width: 400px;
    height: 400px;
    background-image: url('../img/perecBolg_group.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.chili_korj {
    z-index: 6;
    width: 400px;
    height: 400px;
    background-image: url('../img/chili_group.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.kukuruza_korj {
    z-index: 7;
    width: 400px;
    height: 400px;
    background-image: url('../img/kukuruza_group.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.ananas_korj {
    z-index: 8;
    width: 400px;
    height: 400px;
    background-image: url('../img/ananas_group.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.chicken_korj {
    z-index: 9;
    width: 400px;
    height: 400px;
    background-image: url('../img/chicken_group.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
div[class$="kol"] {
    cursor: pointer;
}
.sbros {
    margin: 5px;
}
.forma_fon {
    display: flex;
    flex-direction: column;
    z-index: 99;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(12, 12, 12, 0.7);
    position: absolute;
}
.form {
    display: flex;
    flex-direction: column;

    text-align: center;
    color: rgb(3, 3, 3);
    opacity: 1;
}
#box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
}
.form_block {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    background-color: rgb(219, 216, 216);
    box-shadow: 2px 2px 1px rgb(7, 7, 7);
    font-size: 0.9rem;
}
.opis_forma {
    margin: auto;
    display: flex;
    flex-direction: column ;
    text-align: center;

}
.row {
    display: flex;
    flex-direction: column;
    margin: 7px;
}
.vi_vibrali {
    color: rgb(59, 153, 50);
}
.x {
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
}
.x:hover {
    cursor: pointer;
    color: rgb(141, 143, 141);
}
.otpravka {
    margin-bottom: 40px;
}
.fEt {
    font-size: 0.8rem;
    color: rgb(97, 97, 97);
    margin: 5px;
}
input[type="text"] {
    cursor: text;
}
.slider {
    width: 50vw;
    height: 15vw;
    position: relative; 
}
.sl_con {
    width: 50vw;
    height: 15vw;
    margin: auto;
    margin: 0px 10px;
    overflow: hidden;
    box-shadow: 2px 2px 3px black;
    border: 1px solid grey;
}


.pizza {
    width: 50vw;
    height: 15vw;
    position: absolute;
    transition: 1s;
}
.slider_container {
    display: flex;
    align-items: center;
}
.act {
    opacity: 1;
    transition: 1s;
}
.prev, .next {
    cursor: pointer;
}
.prev:hover, .next:hover {
    transform: scale(1.2);
}
.reklama {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.reklamka {
    display: flex;
    align-items: flex-end;
    justify-content:center;
    margin: 20px;
    box-shadow: 2px 2px 3px black;
    width: 35vw;
    height: 15vw;
    background-image: url(../img/titka.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:0 -38px;
    text-align: center;
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
    border: 1px solid grey;
}
.reklamka:hover {
    background-image: url(../img/Без\ названия.jpg);
    background-position: 0 -44px;
    cursor: pointer;
    color: rgb(31, 31, 31);
    font-size: 1.7vw;
}
.mats {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 0.8em ;
}
.valid {
    background-color: rgb(178, 248, 178);
}
.error {
    background-color: rgb(252, 133, 133);
}



